@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400&family=Poppins:wght@100;300;400;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
/*#A0C49D, #C4D7B2, #E1ECC8, #F7FFE5*/
/* Reset styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Global styles */
a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

body {
  background-color: #E1ECC8;
  font-family: "poppins", "Inter", sans-serif;
}

/* Header */
.bg-main {
  background-color: #42aa55;
}

.bannerPrincipal img {
  width: 100%;
}

.orange {
  color: rgb(122, 77, 18);
}

.logo {
  width: 70px;
  height: 70px;
}

.tituloPrincipal {
  font-size: 2rem;
}

.navegacion a:hover {
  color: #fff;
  background-color: #1d5026;
  border: 1px solid #1d5026;
}

.logoTitl {
  display: flex;
  justify-content: space-between;
}

/* !main INDEX*/
.carousel-caption {
  z-index: 1;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%231d5026'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%231d5026'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.botonPag {
  display: inline-block;
  background-color: #42aa55;
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  padding: 10px 20px;
  text-decoration: none;
}

.imgUnirse img {
  width: 100%;
}

.carousel-inner {
  border: 5px solid #1d5026;
  border-radius: 5px;
}

/*footer*/
.contenedorFooter {
  margin-bottom: -20px;
}

.redesSociales {
  display: flex;
  justify-content: space-evenly;
}

.contanc {
  display: flex;
  justify-content: center;
}

.contancItem {
  padding-bottom: 10px;
}

.redesItem {
  font-size: 20px;
  margin-right: 10px;
}

.telefono {
  color: black;
}

.footer .nav-link {
  color: black;
  transition: 0.3s;
}

.footer .footer-link a::before {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  margin-right: 10px;
}

.footer .footer-link a:hover {
  color: #1d5026;
  letter-spacing: 1px;
}

.footer .nav-link:hover {
  color: #1d5026;
  letter-spacing: 1px;
}

/* !main Conocenos*/
.nuestraEmpresa h2,
.nuestraEmpresa p {
  text-align: left;
}

@media screen and (max-width: 768px) {
  .logo {
    width: 50px;
    height: 50px;
  }
  .bannerPrincipal img {
    width: 100%;
    height: 20vh;
  }
}
@media screen and (max-width: 992px) {
  .align-items-lg-center {
    align-items: flex-start;
  }
  .align-items-lg-center > .col-lg-6 {
    flex-basis: 100%;
  }
  .tituloConocenos {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .seccionVideo .row {
    flex-direction: column;
  }
  .nuestraEmpresa .col-lg-8 .seccionVideo .col-lg-6 {
    text-align: center;
  }
}
@media screen and (min-width: 992px) {
  .imgConocenos img {
    max-width: 50%;
  }
  .redes {
    margin-top: 60px;
  }
}

/*# sourceMappingURL=estilos.css.map */
