/* Header */
  
.bg-main {
    background-color: #42aa55;
  }
  
  .bannerPrincipal img {
    width: 100%;
    
  }
  
  .orange {
    color: rgb(122, 77, 18);
  }
  
  .logo {
    width: 70px;
    height: 70px;
  }
  
  .tituloPrincipal {
    font-size: 2rem;
  }
  
  
  
  .navegacion a:hover{
    color: #fff;
    background-color: #1d5026;
    border: 1px solid #1d5026;
  }
  
  .logoTitl {
    display: flex;
    justify-content: space-between;
  }
  
  
  
  