@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&family=Poppins:wght@100;300;400;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
/*#A0C49D, #C4D7B2, #E1ECC8, #F7FFE5*/

/* Reset styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  /* Global styles */
  a {
    text-decoration: none;
    color: black;
  }
  
  ul {
    list-style: none;
  }
  
  
  body {
    background-color: #E1ECC8;
    font-family: 'poppins', 'Inter', sans-serif ;
  }
  
  
  
  
  /* Header */
  
  .bg-main {
    background-color: #42aa55;
  }
  
  .bannerPrincipal img {
    width: 100%;
    
  }
  
  .orange {
    color: rgb(122, 77, 18);
  }
  
  .logo {
    width: 70px;
    height: 70px;
  }
  
  .tituloPrincipal {
    font-size: 2rem;
  }
  
  
  
  .navegacion a:hover{
    color: #fff;
    background-color: #1d5026;
    border: 1px solid #1d5026;
  }
  
  .logoTitl {
    display: flex;
    justify-content: space-between;
  }
  
  
  
  
  
  /* !main INDEX*/
  
  
  .carousel-caption {
    z-index: 1;
  }
  
  .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%231d5026'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
  }
  
  .carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%231d5026'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  }
  
  .botonPag{
    display: inline-block;
    background-color: #42aa55;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  
  
  .imgUnirse img {
    width: 100%;
  }
  
  .carousel-inner {
    border: 5px solid #1d5026;
    border-radius: 5px;
  }
  
  
  
  
  /*footer*/
  
  .contenedorFooter   {
    margin-bottom: -20px ;
  }
  
  .redesSociales {
    display: flex;
    justify-content: space-evenly;
  }
  
  
  .contanc {
    display: flex;
    justify-content: center;
  }
  
  .contancItem {
    padding-bottom: 10px;
  }
  
  .redesItem {
    font-size: 20px;
    margin-right: 10px;
  }
  
  .telefono {
    color: black;
  }
  
  
  .footer .nav-link {
    color: black;
    transition: .3s;
  }
  
  .footer .footer-link a::before {
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    margin-right: 10px;
  }
  
  .footer .footer-link a:hover {
    color: #1d5026;
    letter-spacing: 1px;
  }
  
  .footer .nav-link:hover {
    color: #1d5026;
    letter-spacing: 1px;
  }
  
  /* !main Conocenos*/
  
  .nuestraEmpresa h2,
  .nuestraEmpresa p {
    text-align: left;
  }
  
  
  @media screen and (max-width: 768px) {
    .logo {
    width: 50px;
    height: 50px;
  }
    .bannerPrincipal img {
    width: 100%;
    height: 20vh;
  }
  }
  
  @media screen and (max-width: 992px) {
    .align-items-lg-center {
      align-items: flex-start;
    }
    
    .align-items-lg-center > .col-lg-6 {
      flex-basis: 100%;
  
    }
  
    .tituloConocenos {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .seccionVideo .row {
      flex-direction: column;
    }
    
    .nuestraEmpresa .col-lg-8
    .seccionVideo .col-lg-6 {
      text-align: center;
    }
  }
  
  @media screen and (min-width:992px){
    .imgConocenos img {
      max-width: 50%;
    }
  
    .redes {
      margin-top: 60px;
    }
  }

  .tituloConocenos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .tituloConocenos h1 {
    font-size: 2rem;
    color: #cf7d02;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .tituloConocenos img {
    height: 600px;
    width: 500px;
    display: inline-block;
  }
  
  .nuestraEmpresa {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .nuestraEmpresa h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: #cf7d02;
    margin-bottom: 10px;
  }
  
  .nuestraEmpresa p {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 20px;
  }
  
  .nuestraEmpresa strong {
    color: black;
  }
  
  .nuestraEmpresa img {
    width: 700px;
    height: 500px;
    display: inline-block;
  }
  
  .seccionVideo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .seccionVideo h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: #cf7d02;
    margin-bottom: 10px;
  }
  
  .seccionVideo p {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 20px;
  }
  
  .seccionVideo strong {
    color: black;
  }
  
  .seccionVideo iframe {
    width: 800px;
    height: 500px;
  }
  
  ---------------------------------/*Galeria*/----------------------------------------
  
  .tituloModelos {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: #cf7d02;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .seccionModelos1 {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
  }
  
  .seccionModelos1 h2{
    font-size: 2rem;
    font-weight: 700;
    color: #cf7d02;
  }
  
  .seccionModelos1 P {
    font-size: 1rem;
    font-weight: 400;
  }
  
  .seccionModelos1 img {
    height: 500px;
    width: 500px;
  }
  
  .seccionModelos2 {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
  }
  
  .seccionModelos2 h2{
    font-size: 2rem;
    font-weight: 700;
    color: #cf7d02;
  }
  
  .seccionModelos2 P {
    font-size: 1rem;
    font-weight: 400;
  }
  
  .seccionModelos2 img {
    height: 500px;
    width: 500px;
  }
  
  .seccionModelos3 {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
  }
  
  .seccionModelos3 h2{
    font-size: 2rem;
    font-weight: 700;
    color: #cf7d02;
  }
  
  .seccionModelos3 P {
    font-size: 1rem;
    font-weight: 400;
  }
  
  .seccionModelos3 img {
    height: 500px;
    width: 700px;
  }
  
  .tituloEjecutivos {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: #cf7d02;
    margin-bottom: 20px;
  }
  
  .seccionEjecutivo {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
  }
  
  .seccionEjecutivo h2{
    font-size: 2rem;
    font-weight: 700;
    color: #cf7d02;
  }
  
  .seccionEjecutivo P {
    font-size: 1rem;
    font-weight: 400;
  }
  
  .seccionEjecutivo img {
    height: 800px;
    width: 700px;
  }
  
  ------------------------------/*Preguntas frecuentes*/------------------------------------------
  .seccionTituloFAQ h1{
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: #cf7d02;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .seccionTituloFAQ p {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
    font-size: 1rem;
    font-weight: 400;
  }
  
  .seccionTituloFAQ img {
    height: 500px;
    width: 700px;
  }
  
  .seccionFAQ  div h2{
    font-family: 'Poppins', sans-serif;
    font-size: 1,5rem;
    font-weight: 700;
    color: #cf7d02;
    margin-bottom: 20px;
  } 
  
  .seccionFAQ div p {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
    font-size: 1rem;
    font-weight: 400;
  }
  
  ----------------------------------/*contactos*/----------------------------------------
  
  .seccionFormulario h1{
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: #cf7d02;
    margin-bottom: 20px;
  }
  
  .seccionFormulario p {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
    font-size: 1rem;
    font-weight: 400;
  }
  
  .seccionFormulario h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1,5rem;
    font-weight: 700;
    color: #cf7d02;
    margin-bottom: 20px;
  }
  
  
  .seccionContactos {
    width: 100%;
    height: auto;
    background-color: rgb(79, 159, 96);
    margin-right: 20px;
    padding: 20px;
    border: 1px solid #000;
    box-sizing: border-box;
  }
  
  .seccionContactos h3 {
    font-size: 1.5rem;
    color: #000;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  .seccionContactos p {
    font-size: 1rem;
    color: #fff;
  }
  
  .seccionContactos iframe {
    width: 30%;
    height: 300px;
    margin-bottom: 10px;
  } 
  
  